@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    line-height: 1.5;
    text-align: left;
    background: #dae0c9;
}

/* Header de la pagina Web */

.top{
    height: 200px;
    background: #dae0c9;
    display: flex;
    border-bottom: 1px;
    border-style: double;
    border-color: #886421;
}

.menu{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.icon{
    width: 290px;
    height: 290px;
    margin-top: 80px;
    margin-left: 57px;
    border-radius: 239px;
}

.list{
    display: flex;
    list-style: none;
}

.list li{
    margin: 0 35px;
}

.list li a{
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    color: #686d4e;
}

.items a:hover{
    background-color: #686d4e;
    color: #dae0c9;
    border-radius: 15px;
}

.slogan{
    display: flex;
    justify-content: center;
    align-content: center;
    background: #dae0c9;
    text-align: center;
}

.slogan h2{
    color: #886421;
    font-size: 60px;
    font-family: 'Itim', cursive;
    margin-top: 60px;
}

/* Seccion de Pasteles */

[class*="container"]{
    display: flex;
    justify-content: space-around;
    height: 200px;
    background: #dae0c9;
    padding: 80px;
    margin-bottom: 100px;
}

[id*="cake"]{
    cursor: pointer;
}

[id*="cake"]:hover{
    background-color: #886421;
}

[class*="cake"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="pastel"]{
    text-align: center;
    background-color: #686d4e;
    color: #dae0c9;
    border-radius: 15px;
    padding: 5px;
    margin-top: 10px;
}

[class*="descripcion"]{
    text-align: center;
    color: #686d4e;
    font-size: 12px;
    border-style: dashed;
    border-radius: 10%;
    border-color: #886421;
    padding: 5px;
    margin-top: 10px;
}

[class*="img"]{
    margin-top: 100px;
    width: 120px;
    height: 120px;
    border-radius: 25%;
}

.form{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    margin: 0 auto;
    width: 300px;
    padding: 12px;
    color: #686d4e;
    text-align: center;
}

input field{
    border: none;
    padding: 8px;
}

.field{
    border-bottom: solid 1px #886421;
    text-align: center;
}


/* Footer de la pagina web

.pie{
    width: 100vw;
    height: 230px;
    background-color: #dae0c9;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    width: 190px;
    height: 190px;
    border-radius: 239px;
} */